[2021-07-23 03:22] mcseemk opened #35 "Random panics at closing file descriptors"
I observe random panics when running the following code:

[code]

Typical output:

[code]

After panic while panicking such process hangs forever, even kill -9 cannot terminate it.

Sometimes the result is slightly different:
[code]

Tested on the following systems:

    Linux 5.11.0-25-generic #27-Ubuntu SMP x86_64 x86_64 x86_64 GNU/Linux
    Linux 5.8.0-1038-aws #40~20.04.1-Ubuntu SMP Thu Jun 17

[2021-07-23 09:27] JakubKoralewski commented on #35
Takes really long to run, so couldn't replicate. I'm getting a 10x slower execution time:
[code]

[code]

same speed on both stable 1.53 and `1.55.0-nightly (4e143fd13 2021-07-20)
`

[2021-07-23 10:14] mcseemk commented on #35
Looks like you used a debug build, hence slower. I used release since wanted to benchmark against vanilla tokio.
Anyway, looks like some race condition to me.

[2021-07-25 12:57] songzhi commented on #35
In my platform, seems the problem is from `/dev/urandom`. When I run the code, it sometimes paused forever without any panic. When I use a regular path, it works fine and was 2.x ms each iteration slower than yours, used the release build.

My toolchain and platform is:
[code]

[2021-07-25 13:51] songzhi opened #38 "Export the Runtime type"
I want to write a library with multi-thread compatible async APIs. So I can't use `tokio_uring::start` internally or let the library user call it. My idea is using a thread local variable to store and get the runtime per thread. Export the `tokio_uring::Runtime` will be useful for me.

[2021-07-25 16:14] #38 closed

[2021-07-25 22:17] mcseemk commented on #35
On my PC the release build reading from regular text file crashes immediately with the same error, but I was not able to reproduce the crash with the debug build though.

[2021-07-26 19:44] carllerche commented on #35
Thanks for the report. I will investigate.

[2021-08-02 21:33] carllerche commented on #35
I think I know what is happening, but I am not sure how to reproduce reliably. I pushed a possible fix to #39, could someone give it a shot? I will try to keep trying to reproduce myself.

[2021-08-09 06:52] songzhi opened #41 "Impl `File::read_exact_at` and `File::write_all_at`"
Same as [`std::io::Read::read_exact`](https://doc.rust-lang.org/std/io/trait.Read.html#method.read_exact) and [`std::io::Write::write_all`](https://doc.rust-lang.org/std/io/trait.Write.html#method.write_all).

Here's my simple solution:
[code]

[2021-08-09 07:01] songzhi opened #42 "Impl `IoBuf`/`IoBufMut` for `bytes::Bytes`/`BytesMut`"
It will be very useful if implement `IoBuf`/`IoBufMut` for [`bytes::Bytes`](https://docs.rs/bytes/1.0.1/bytes/struct.Bytes.html)/[`BytesMut`](https://docs.rs/bytes/1.0.1/bytes/struct.BytesMut.html).
[`bytes`](https://crates.io/crates/bytes) can be an optional dependency.

[2021-08-10 14:15] #42 closed

[2021-08-10 14:15] #35 closed

[2021-08-11 06:55] songzhi opened #45 "[Bug] Wrong `Slice::deref/deref_mut` implementation"
Here's a minimal reproducible example:
[code]

The reason is that `Slice` creation uses `bytes_total()`, `Slice::deref` uses `bytes_init()`.
The module level `deref/deref_mut` or the `Slice::deref/deref_mut` implementation, I'm not sure which one should be modified.

https://github.com/tokio-rs/tokio-uring/blob/2c9fbeab9694b74a21588ff398767ee8b5619032/src/buf/io_buf.rs#L79-L83
https://github.com/t

[2021-08-16 02:16] silence-coding opened #46 "Sample not available"
![截图](https://user-images.githubusercontent.com/32766901/129502558-49a46dca-66d5-435b-a748-1ea740a3683d.PNG)
![image](https://user-images.githubusercontent.com/32766901/129502617-a01877a9-591b-40b0-9188-869c87c1d6ee.png)

OS:
 Ubuntu  20.04.2 LTS (Focal Fossa)
 Linux pktserver 5.4.0-80-generic #90-Ubuntu SMP Fri Jul 9 22:49:44 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

dependencies：
     tokio-uring

[2021-08-19 12:10] silence-coding opened #47 "How to combine the multi-thread mode of Tokio"
Tokio-uring uses a single thread. If I want to use hyper and tokio-uring to implement a file server service, how to combine tokio's multi-thread runtime to improve the overall QPS?

[2021-08-19 12:10] silence-coding commented on #46
The OS kernel must be 5.6 or later.

[2021-08-19 12:10] #46 closed

[2021-08-19 19:49] kaimast opened #48 "Add missing filesystem operations"
It would be great if we could add the most important functions from `tokio::fs`/`std::fs` to this crate. As far as I can tell `tokio-uring` only exposes `fs::File` right now and none of the ones below are supported yet.

Directories:
- [x] create_dir
- [ ] read_dir
- [x] remove_dir
- [ ] remove_dir_all

Files:
- [ ] metadata
- [x] rename
- [ ] copy
- [x] remove_file

Links (I don't really need the

[2021-08-20 22:43] sempervictus opened #49 "Runtime will not start"
I tried switching my application to using this lib for the primary reactor as shown in the example, but on startup it produces:
[code]
Build target is MUSL, using `clux/muslrust`  as a base container for the build.
Execution environment is Arch Linux, happens with liburing installed and without, liburing is:
[code]

[2021-09-07 21:27] mzabaluev commented on #45
#52 fixes this; the `Deref`/`DerefMut` impls should not try to extend the slice past the initialized part of the buffer. The helpers at the root of the `buf` module do the right thing.

[2021-09-08 05:19] songzhi commented on #47
The normal way is using message passing instead of direct function calls. You can learn about actor model, [actix](https://actix.rs/) is a good framework using it. Here's a simple example showing how the message passing works:
[code]
You can see, `Uring` is `!Send` and `!Sync`, but `App` is `Send` and `Sync`. So `App` can be used in tokio's multi-thread runtime.

[2021-09-12 02:08] KerfuffleV2 commented on #49
@sempervictus According to the README, `tokio-uring` only supports the one `tokio_uring::fs::File` resource type that it provides. Just switching reactors to this when your application is using other types of resources wouldn't be expected to work.

It's been a while but I'm assuming you didn't already figure this out as the issue is still open.

[2021-09-16 13:28] silence-coding commented on #47
I've tried using channel for file read and write collaboration between tokio-uring and tokio's multi-thread runtimes, but the performance is no better than tokio::fs.

[2021-09-16 13:51] songzhi commented on #47
@silence-coding You should do some profiling to make sure which part is the bottleneck.

[2021-09-23 11:18] silence-coding commented on #47
@songzhi OK, I'd like to ask if tokio-uring has any plans to switch to multi-thread mode? Or when will it be released as a future of tokio

[2021-10-18 20:30] tkaitchuck opened #58 "File should implement Debug"
Currently File does not implement the debug trait. This is annoying when attempting to automatically derive debug for structs containing files.

[2021-10-20 04:20] tkaitchuck opened #59 "Test failure: Os { code: 9, kind: Uncategorized, message: "Bad file descriptor" }"
Upon checking out the code and running `cargo test` I observe:
[code]

[2021-11-08 01:17] Noah-Kennedy commented on #59
I'm getting this from 5.14

[2021-11-08 17:30] carllerche commented on #59
Interesting. I am seeing that as well now. My guess there was a change in kernel behavior.

[2021-11-16 15:14] #58 closed

[2021-11-16 16:54] Rustixir opened #67 "Smell of Bug in File::read_at(...)"
When performing this function, the result is an infinite loop, But I read in the document it said: read_at result returns number of bytes read But here it always returns 100

where is problem ??

[code]

[2021-11-16 17:26] fakeshadow commented on #67
By always passing 0 as offset you are keep reading the first 100 bytes of self.file.

[2021-11-16 20:34] Noah-Kennedy commented on #67
Closing as this isn't a bug.

[2021-11-16 20:34] #67 closed

[2021-12-11 13:14] LifeIsStrange opened #68 "Benchmark vs monoio?"
https://github.com/bytedance/monoio/blob/master/docs/en/benchmark.md
This new framework seems to be disruptive.
Note however:

So obviously the best of both worlds would be a meta-algorithm that dynamically (or at least once at runtime) determine whether to use epoll Vs io_uring (based e.g on the dynamic number of connections)

[2021-12-21 21:29] Noah-Kennedy commented on #68
Tokio uring is in a very early phase, and we don't have any benchmarks yet. If you would like to add some, feel free to open a PR ;).

[2021-12-30 23:29] BraulioVM commented on #59
I believe it's not related to a change in kernel behaviour. I believe it's related to https://github.com/rust-lang/rust/pull/85746 . Some of the logic in this crate depends on `io::ErrorKind::Other`, which we may not be getting from upstream libraries (std or otherwise)  anymore.

[2021-12-31 14:42] #59 closed

[2021-12-31 20:11] kaimast commented on #48
Is there going to be another `io-uring` release soonish? I just added a `create_dir` call on [this branch](https://github.com/kaimast/tokio-uring/tree/create-dir), but it requires the git version of that crate.

[2022-01-04 03:45] #47 closed

[2022-01-07 16:58] Noah-Kennedy commented on #48
Yes, there should be a release soon.

[2022-01-09 20:03] Noah-Kennedy commented on #49
@sempervictus did that answer your question?

[2022-01-09 20:03] Noah-Kennedy commented on #48
@kaimast version 0.2.0 has been released.

[2022-01-09 20:09] kaimast commented on #48
Thanks! I was talking about the `io-uring` crate though.

[2022-01-24 05:24] rustMyGod opened #71 "a bug?"
hello
I want to test performance on mmap,BIO,AIO,and iouring(by tokio-uring) by write 1KB data to 1G files 1024 times . then i write the code bellow.when program running i find something unexpected.
1. too many threads created and destroyed,maybe 20+ thousands.(my test server is 8c16g,5.15.10-1.el7.elrepo.x86_64)
2. some file succeed ,some not,no exception throwed,program is still alive,but no wor

[2022-01-24 05:27] rustMyGod commented on #71
I watched 20+threads created and destoryed by htop.

[2022-01-25 06:47] rustMyGod commented on #71
20+thousands threads

[2022-01-26 20:34] Noah-Kennedy commented on #71
I am unable to reproduce. I ran your code and only saw 33 threads.

[2022-01-26 22:19] Noah-Kennedy commented on #71
Also, as far as perf, this is going to be slow. You are making a lot of tiny writes sequentially.

[2022-02-21 23:21] autumnontape commented on #49
I haven't encountered this issue, but I'm confused. The readme says that tokio-uring is compatible with Tokio and that "Any library that works with Tokio also works with tokio-uring," and switching a Tokio-based project of mine to run on a tokio-uring runtime without changing any other part of the code does work. Is there some other way of mixing tokio and tokio-uring that isn't supported?

[2022-02-21 23:28] Noah-Kennedy commented on #49
@autumnontape That case will always work, unless you used `block_in_place`. What doesn't work is trying to use tokio-uring stuff within the normal tokio runtime (using `#[tokio::main]`).

[2022-02-21 23:29] Noah-Kennedy commented on #49
@sempervictus is this issue ongoing?

[2022-02-22 00:02] sempervictus commented on #49
Pardon, have not been using the library in recent efforts, closing.

[2022-02-22 00:02] #49 closed

[2022-03-01 06:45] jon-chuang opened #75 "explicit_close is a flaky test"
thread 'explicit_close' panicked at 'Ok(14)', tests/fs_file.rs:152:16

I wonder why

[2022-03-01 21:46] Noah-Kennedy commented on #75
@jon-chuang if you see this again, please copy the full backtrace from the panic. As it is, we have no clue what actually went wrong.

[2022-03-02 21:14] Noah-Kennedy commented on #75
Got one:
[code]

[2022-04-02 21:19] mzabaluev commented on #75
This is not the only flaky test as of 7d7913c02dc4c633cfff632c2f6f138d53783192:

[code]

[2022-04-06 04:32] kixelated opened #80 "Thread starvation"
I saw #78 and I triggered flashbacks to an issue I ran into when implementing my own io_uring runtime a year ago.

I had 1k frontend requests evenly split between threads and all blocked (parked) on 1 backend fetch. When the backend fetch finishes, the thread that issued it is woken and can process its frontend requests. However, the requests bound to the other threads will stay blocked on iouring

[2022-04-06 04:58] Noah-Kennedy commented on #80
We currently park with epoll, which wakes when uring has completions available. This means we don't actually have this issue, although it *is* something we need to keep in mind whenever we move tokio-uring into mainline tokio.

[2022-04-06 17:58] kixelated commented on #80
Ah apologies, I jumped to conclusions when I saw the comment in the PR. I agree that this shouldn't be an issue then.

Just to clarify, you're using epoll with the uring's FD instead of `submit_and_wait`. It does mean you have to issue two syscalls to park a thread (submit and then epoll) but you still get the benefit of batching with uring.

My runtime polls futures until they're all pending and

[2022-04-07 01:54] Noah-Kennedy commented on #80
@kixelated you are correct about our use of epoll. Also, something along the lines of what you are doing is the plan once we move tokio-uring into tokio (may be a while though).

By the way, a pro tip: periodically call submit_and_wait with a timeout of 0 on a set interval so that you don't starve tasks on your runtime. This is especially true if you use futures that aren't dependent on io_uring f

[2022-04-07 18:10] kixelated commented on #80
Yeah, the plan was to call `submit` if the uring queue reached a certain size or some duration had elapsed. I also wanted to investigate `IORING_SETUP_SQPOLL` as an alternative.

[2022-04-10 08:45] matklad opened #81 "Structured Concurrency Support"
disclaimer: I am async noob, and I've just had my first morning cup of tea, so I maybe talking nonsense :-)

So, today I was writing some tokio code which looked like this:

[code]

Essentially, I am running two bits of concurrent work.

This code made me mildly uncomfortable -- if the server panics (or, if I add some other early-return logic), the client will be left running, violating the struct

[2022-04-10 16:35] Ralith commented on #81
Did you see [`try_join`](https://docs.rs/tokio/latest/tokio/macro.try_join.html)?

[2022-04-10 17:03] matklad commented on #81
Yeah, `try_join` is close, but it doesn't support graceful cancellation. Here's what I came up with for my use-case (hiding behind details to not distract from the main idea of "structured concurrency works with thread-per-core"):

<details>

[code]
</details>

[2022-04-10 22:36] Noah-Kennedy commented on #81
@matklad I'm not sure really that this falls within the scope of tokio-uring. IMO the goal of tokio-uring is to figure out the kinks and quirks of io_uring and work things out from an API perspective before eventually implementing the finalized API into tokio. In particular it would be great to get the API to work on the multi threaded runtime.

I think a better place for this would be in tokio-ut

[2022-04-12 14:56] meyerzinn opened #82 "Writing to a file with Slice causes runtime panic"
I'm still working on a minimal example that reproduces this issue, but I'm encountering a panic when trying to write to a file using a `Slice<Vec<u8>>` instead of a `Vec<u8>`:

[code]

The stack trace is a doozie, but it seems like the key issue relates to the fact that `Slice` uses `vec.capacity()` to find the end bound.

[code]

[2022-04-12 21:27] #45 closed

[2022-04-28 10:09] zojw opened #83 "net: server side panic after client send a timeouted connection"
Hi, I'm trying to implement a "read TCP connection with timeout" function, so I want to make `read()` future returns immediately after the client hasn't sent data in 10s.

I found `tokio::time::timeout` should be useful, but I found that read the future can timeout and return, but the server-side should meet panic if the client sends more data.

### reproduce step:

1. run server-side with https:/

[2022-04-28 15:52] Noah-Kennedy commented on #83
@zojw thanks, I'll dig into this tonight

[2022-05-10 17:29] godzie44 commented on #83
I encountered this bug too. Looks like this problem occurs because:
1) we create read operation (future) with socket fd link in it
2) we create read operation (by putting sqe in io_uring instance) with socket fd link in it
3) read operation (future) drop'ed by a timeout fn
4) read operation (by putting sqe in io_uring instance) still in kernel and will be done when read return 0 bytes (other world

[2022-05-10 21:48] Noah-Kennedy commented on #83
Oh I forgot about this one. I'm working on a big refactor right now that includes adding those features btw.

[2022-06-23 19:52] Noah-Kennedy opened #86 "Reconsider API design"
Currently, our API just adapts the existing tokio APIs to be completion-based. While this makes the library easier to use, it raises a number of problems for the maintenance of these APIs.

`io_uring` has a large number of useful flags which can be applied to operations, and more continue to be added. We cannot effectively make use of many of these flags (e.g event linking flags, buffer preallocat

[2022-06-23 20:33] Ralith commented on #86
In Quinn, we currently bypass tokio 1.0 I/O APIs entirely because they can't possibly express the eclectic collection of options and ancillary data we rely on (e.g. `IPV6_TCLASS`, `IPV6_PKTINFO`, their IPv4 analogs, `UDP_GRO`, `UDP_SEGMENT`, etc). Something more scaleable would be nice! These interfaces can be pretty diverse, though, so accounting for every possibility may be difficult.

[2022-06-23 20:39] Noah-Kennedy commented on #86
@Ralith I know the feelling quite well, and I was actually thinking about some similar issues we've had at work related to the tokio APIs when I came up with this proposal.

I also think that, as a cop out, we could also expose a function which allows "raw" events to be submitted.

[2022-07-18 12:51] ileixe opened #91 "Allow access for Runtime struct?"
Hi

I'm trying to benchmark tokio-uring and different implementations. As criterion [requires Runtime struct](https://bheisler.github.io/criterion.rs/book/user_guide/benchmarking_async.html) to run async code, I'd like to ask for changing Runtime struct visibility.

Is it valid change or any other viable solution to achieve it?

Thanks

[2022-07-19 05:37] ileixe commented on #91
I just found recent PR(https://github.com/tokio-rs/tokio-uring/pull/88) to achieve it.

[2022-07-24 01:23] dpc commented on #82
I was going to report the same issue. Seems like `capacity` is used instead of `len` of the underlying buffer or something, and this leads to a panic.

[2022-07-24 02:03] dpc opened #92 "Writting at the offset ignores the offset?"
Either I'm not understanding or something is off.

The documentation says:

[code]

Since the offset given is fixed (`1`), then if `write_at` is supposed to write at the absolute offset, then one would expect this file to stay at 2 byte size, and third and further iterations would just keep overwriting the byte.

However, I see the file grow:

[code]

For reference:

[code]

[2022-07-24 02:09] dpc commented on #92
Ooooooh. It's that `.append(true)` flag. :)

[2022-07-24 02:12] dpc commented on #92
Surprisingly, without `.append(true)`, but with just `.write(true)`, it seems like writing at the random offset is filling the previous data with `0`s. Interesting.

Is there anywhere where I can read about semantics of these operations?

[2022-07-26 21:17] FrankReh opened #93 "JoinHandle not completing when too many tasks or opened files present"
Hi, probably I'm doing something wrong while trying the 0.3.0 tokio_uring.

I build a release from the small benchmark code sample in #35 and run it on a cloud Clear Linux OS with a kernel at 5.18.9 but only see it complete successfully when a maximum of 512 urandom tasks are spawned before awaiting each of their handles. When I run with the original 1000 tasks, usually the 513th handle.await.unwr

[2022-07-26 21:32] Noah-Kennedy commented on #93
You've hit an issue I found while fixing something else months ago, decided I would fix the next day, and then promptly forgot about until now lmao.

`io_uring` has an unfortunate footgun where you can put more events in-flight than the completion queue can hold, thus allowing you to overflow the queue. If the queue overflows, the extra completions are yeeted into the void, never to be received.

[2022-07-26 21:32] Noah-Kennedy commented on #93
I'll get a fix up in a bit.

[2022-07-27 10:06] Darksonn commented on #93
Huh? My understanding is that this was true in the first versions of the driver, but hasn't this been fixed? As far as I know, the driver should hold on to completions that don't fit until you empty the completion queue.

[2022-07-28 23:09] kant777 opened #95 "How many system calls happen underneath if I were to broadcast to bunch of connected clients of my server?"
I am new to this library and I am trying to figure out how does this library help batching syscalls for network I/O. my use case is I am trying to use this library to broadcast a stream of messages m1,m2, m3....to all the connected sockets of my server. so if there are 1000 clients connected to my server I want to broadcast each message to all 1000 and I am trying to accomplish this is in as few s

[2022-07-29 18:04] Noah-Kennedy commented on #95
This is `tokio-uring`, not `rio`. If you have a question about this, I'm happy to answer it, but I am not familiar with the implementation details of `rio`.

[2022-07-29 18:04] #95 closed

[2022-07-29 19:17] kant777 commented on #95
@Noah-Kennedy Sorry, it was a copy/paste error and I haven't got any response from `rio` so my questions are generally the same and I slightly edited. would be great to know how tokio-uring can help? hope my question is generic enough if not please let me know

[2022-07-31 21:08] Noah-Kennedy commented on #95
So, IO functions/methods in `tokio-uring` will push a SQE to the submission queue. In current releases, these operations are immediately submitted to the kernel, resulting in a syscall. On the master branch, we have implemented batching, and thus we will submit all operations in the queue if it becomes full when constructing an op, and will also submit all operations to the kernel before parking,

[2022-07-31 21:41] kant777 commented on #95
@Noah-Kennedy Got it, so I need to use master, because if it submits a syscall for every operation then that defeats the purpose of io_uring altogether. I am glad to hear that batching is implemented internally but does it submit to kernel only when the buffer is full? what if the buffer isn't full? is there any timer? if not, then why not let users batch their syscalls and provide a function like

[2022-07-31 22:36] Noah-Kennedy commented on #95
If we attempt to push an operation but the buffer is full, we submit all operations in the buffer to make space and then push.

There is no timer for periodic dispatch. This is better implemented by hooking into the maintenance loop of tokio.

Allowing users to control their own batching is something I'd like to get implemented soon, alongside some newer APIs that give more fine-grained control of

[2022-08-01 02:15] kant777 commented on #95
Got it, But again what if the buffer isn't full? it will stay in queue forever? I didn't mean to say timer in isolation but a combination of buffer size and the timer or let the user take care of it all!

[2022-08-01 02:35] Noah-Kennedy commented on #95
Currently on master, when there isn't work to do (ie the system parks), it will flush the squeue and submit. This isn't released yet because this isn't exactly ideal; we need to get hooks into tokio to periodically flush the queue every X task polls (I forget how often the tokio maintenance loop runs).

[2022-08-01 06:46] glenn-wang opened #101 "Could add a udp server demo with using IORING_FEAT_FAST_POLL and IOSQE_BUFFER_SELECT ?"

[2022-08-06 21:22] dpc opened #102 "Hangs on `drop` of `Runtime` if `TcpListener` has an outstanding `accept` op"
Since there is no `accept` with a timeout to implement a graceful shutdown [I've used a standard `timeout` operation](https://github.com/rustshop/loglog/blob/b87689adcbc46ef613599da34ef380fe229fad76/server/src/node.rs#L947). It kind of worked, but [lead to a hang at the end of `tokio_uring::start` scope](https://github.com/rustshop/loglog/blob/b87689adcbc46ef613599da34ef380fe229fad76/server/src/ma

[2022-08-08 05:06] dpc opened #103 "Some `Arc`ed buffer for parallel (but disjoint) IO?"
I'm trying to figure out how can I have a one big `Vec<u8>`-like buffer that I could `split` into disjoint parts and have parallel uring operations on each part. From what I can tell right now `slice` consumes the `Vec` so this will not work.

I guess this might require some `Arc`-like functionality, where I could hand over `Vec` to the runtime, get a slice for `buf[..]`, and then be able to call

[2022-08-08 16:30] Noah-Kennedy commented on #103
This sounds like what the `bytes` crate is for. You can split and unsplit `bytes` objects.

[2022-08-08 16:30] #103 closed

[2022-08-08 16:42] dpc commented on #103
Should  `tokio-uring` support it then? Or does it already and I missed it somewhere?

[2022-08-08 17:21] Noah-Kennedy commented on #103
It does support it.

[2022-08-29 04:22] Noah-Kennedy opened #104 "Multishot operations"
io_uring now has multiple multishot operations, including IORING_OP_ACCEPT and IORING_OP_POLL_ADD. We should add support for streaming back completions for such operations.

[2022-08-29 11:21] FrankReh commented on #104
Mind suggesting a unit test for the single shot poll_add? I would build off that for the function poll_add itself and then the *multi* version .

[2022-09-01 20:36] Noah-Kennedy commented on #102
This is an interesting issue.

I think that we are going to need to cancel in-flight operations and wait for them to finish terminating. Unfortunately, for soundness reasons you cannot simply drop tasks exit the runtime like you can with normal tokio. Because these operations are in-flight with the kernel, we cannot exit until they complete because the kernel may be using buffers and other state t

[2022-09-01 20:39] Noah-Kennedy commented on #104
@FrankReh I think we need to start with asking what the single-shot API should even look like. We can do this as a future, but many multi-shot operations are going to be more useful in the context of us doing something like implementing the (inherently readiness-based) AsyncRead and AsyncWrite APIs, in which case we may need to build something akin to the tokio Registration API at some point.

To

[2022-09-02 20:07] FrankReh opened #105 "io_uring setup parameters"
Currently, tokio_uring::start calls runtime::Runtime::new which calls the io_uring::IoUring::new with an entries count value of 256. But there are many settings besides the entries value that one may want to set when creating the kernel io_uring device.

The io_uring crate provides a builder API for setting those parameters that then get passed to the kernel's io_uring setup; but there is no API i

[2022-09-02 22:36] FrankReh opened #106 "Implement local_addr for TcpListener and UnixListener"
I don't believe io_uring can be used to get the local_addr from a socket that is TCP listening or Unix listening, but the ability would be useful nonetheless.

Is it okay to provide blocking method calls to return the local_addr for the two types?

If so, new unit tests would not need to hardcode port numbers in their TCP tests. Existing unit tests could also be modified.

[2022-09-04 16:33] FrankReh commented on #104
@Noah-Kennedy The single shot and multi shot poll operation (POLL_ADD) could be handy for watching additional urings and tying their file descriptors to the current-thread's default uring. Sounds like glommio does something similar with their secondary uring. I had been wondering how tokio-uring could be expanded to support multiple urings. Perhaps such an ability does not have to built into tokio

[2022-09-04 17:20] Noah-Kennedy commented on #104
@FrankReh I had been thinking that OP_POLL_ADD would be most effective for compatibility with readiness-based APIs. My thoughts on multi-uring runtimes would be to have a worker per core and to use the inter-ring messaging facilities.

[2022-09-04 19:41] FrankReh commented on #104
@Noah-Kennedy Thanks for the feedback.

If it doesn't get in the way of your tokio-uring ideas, I wanted to make it compatible for a small cloud instance too, perhaps a single core or a dual core machine, so keeping everything in a single current-thread was desirable, leaving one core for the application and one for the kernel. And I think multiple rings in one thread comes with some possible adva

[2022-09-06 11:19] FrankReh commented on #104
@Noah-Kennedy How about we use a new issue to track poll_add and multi_poll_add requirements and ideas? I can make a lot of progress on multi_accept alone.

The io-uring crate has introduced the mechanism of a second set of sq and cq entry sizes, to cope with the kernel's new ability to use urings to pass NVMe commands and results.

I'd like to get a straw man of multi_accept working with both rin

[2022-09-06 11:22] FrankReh commented on #105
Now with 0.5.5 of the io-uring, there are new ring sizes also, allowing for NVMe passthrough commands, for 5.19+ kernels.

[2022-09-06 19:25] Noah-Kennedy commented on #104
@FrankReh that sounds great!

[2022-09-06 19:28] #106 closed

[2022-09-06 20:59] FrankReh commented on #105
@Noah-Kennedy I had thought about making the driver generic around the two traits created by io-uring 0.5.5 like so.

[code]

But of course it's not that easy. The compiler wants a fixed size here, and the use of traits means the size isn't known at compile time.

So maybe we want to live with the driver used by this crate being the original sized Uring, and not plan on supporting the NVMe passthr

[2022-09-06 21:01] Noah-Kennedy commented on #105
I'm going to read up on NVMe passthrough tonight, as I'm not as familiar with that aspect yet.

[2022-09-07 07:06] ileixe opened #108 "Add `custom_flags` to OpenOptions"
I'd like to open my device with `custom_flags` as our device requires O_NONBLOCK flag. Is it reasonable to add the field that user can touch it? (I wonder why it have not existed in the first place.)

If then, I will make a small PR to do.

[2022-09-07 20:43] Noah-Kennedy commented on #108
Yeah, I'd say it's reasonable to add something akin to this: https://docs.rs/tokio/latest/tokio/fs/struct.OpenOptions.html#method.custom_flags

[2022-09-07 20:46] Noah-Kennedy commented on #93
@FrankReh I will need to look at this, but I agree that this sounds like a _much_ better option!

[2022-09-12 15:12] FrankReh opened #110 "write_all"
I had wanted a write_all for tokio_uring TcpStream. Locally I added it as a method but would you prefer a public trait like the AsyncWriteExt trait in tokio? I'm confused by the tokio std::io::Write trait also have a write_all method. So maybe a tokio_uring::io::Write trait is actually what is called for?

Or as a POC, is it acceptable to just add the write_all directly to the TcpStream and UnixSt

[2022-09-12 20:16] Noah-Kennedy commented on #110
@FrankReh I agree completely on a Write trait, as well as a Read trait. I think these should be called `OwnedWrite` and `OwnedRead`.

[2022-09-12 20:22] Noah-Kennedy commented on #110
Currently working on a POC for this.

[2022-09-12 22:12] FrankReh commented on #110
Okay. I'll keep my write_all to myself for now, but it means my other work I wanted to commit as PRs is blocked because the test case(s) use the write_all. Your Owned{Write, Read} aren't blocked by my work so I'll wait for those traits to land.

[2022-09-13 00:04] Noah-Kennedy commented on #110
No, go ahead and open up a PR. I'm doing some refactoring right now in my PR and I don't want to block anyone with this.

[2022-09-13 22:06] FrankReh commented on #110
@Noah-Kennedy Just a reminder that ProvideBuffers will be very nice to support with this library. I don't know how that factors into your OwnedWrite and OwnedRead trait plans. Maybe they are orthogonal. Once I get the builder api for you to look at and perhaps approved, I'll see about a builder method that lets the caller either provide buffers or call out the library to allocate its own buffers.

[2022-09-14 17:11] #110 closed

[2022-09-14 17:14] Noah-Kennedy commented on #110
@FrankReh I think that we may need to add some additional buffer traits that abstract over things uring ops can use as buffers for use within op builders internally.

[2022-09-14 19:35] FrankReh opened #112 "Use of IORING_REGISTER_PBUF_RING, introduced in kernel 5.19"
An issue to track this crate's use of the IORING_OP_

First described here [io_uring: add support for ring mapped supplied buffers](https://lore.kernel.org/io-uring/20220429122803.41101-11-axboe@kernel.dk/#r)

[2022-09-14 19:39] FrankReh commented on #112
Only today I started to appreciate the value of the buf_ring feature added in 5.19. That was introduced in the kernel archives in April this year and perhaps I had been reading older man pages to begin with. I had already been wondering how we would want to compact the information when we are replenishing fixed buffers. Turns out the io_uring author had already worked on it earlier this year.

I w

[2022-09-14 19:40] FrankReh commented on #110
@Noah-Kennedy I'm all ears. I've created #112 to discuss fixed buffers with a pbuf_ring feature introduced in 5.19. Maybe related to internal traits, maybe not.

[2022-09-14 19:41] Noah-Kennedy commented on #110
Thanks!

[2022-09-14 20:41] FrankReh commented on #112
The pbuf_ring mechanism seems to be the fourth form of buffer management provided by the kernel io_uring driver (as of 5.19). (Not even counting the mechanism where the caller provides their own buffer for each operation - that could be thought of a mechanism 0.)

1)
IORING_REGISTER_BUFFERS for use with two operators only IORING_OP_READ_FIXED and IORING_OP_WRITE_FIXED.

2)
 IORING_OP_PROVIDE_BUFFE

[2022-09-14 21:24] FrankReh commented on #112
As another reference, here is the liburing UDP example using the io_uring_buf_ring mechanism. https://github.com/axboe/liburing/blob/master/examples/io_uring-udp.c

It also happens to use the new io_uring_prep_recvmsg_multishot (from kernel 6.0).

Should make a reasonable target example for supporting with this crate's mechanisms too. First we'll need the io-uring bindings to catch up to 5.19 so t

[2022-09-14 21:26] FrankReh commented on #112
And here is the kernel URL for seeing all archived emails about buf_ring.

https://lore.kernel.org/io-uring/?q=buf_ring

[2022-09-17 13:26] FrankReh opened #114 "How is wrk-bench example meant to be exercised?"
https://github.com/tokio-rs/tokio-uring/blob/master/examples/wrk-bench.rs is the program for running a TCP server that is running 16 accepts on the same socket. How is it meant to be exercised from a client? Is there a program for already doing this?

Thanks.

[2022-09-17 17:29] FrankReh commented on #104
@Noah-Kennedy FYI I have a first form of accept_multishot working. I would create a PR so you could take a look but it requires a few tweaks to io-uring to make it compile and I have an open question about exposing constants from the sys module.

[2022-09-18 10:16] Nehliin commented on #102
I've ran into the same problem which makes it impossible for me to run integration tests in CI since they never exit properly. I can't use the same hack @dpc used. I have a custom socket type based on Udp spawning the following task:

[code]
Within the `process_incomming` function a call to `UdpSocket` `recv_from` is blocking at the beginning of the function:

[code]

Here is the socket drop imple

[2022-09-18 19:40] FrankReh opened #115 "potential errors from sys::io_uring_enter usually being ignored"
tokio-uring gets submissions passed to the kernel with its calls to uring.submit() (ultimately getting sys::io_uring_enter called) which it does in two places.

The most common way to get submit called is to have the on_thread_park callback invoked when the current thread has no more active work to do. Under normal operation, the thread would have handled some uring results and loaded some new uri

[2022-09-19 14:54] #105 closed

[2022-09-19 14:58] nik9000 commented on #91
I think it might be useful to constrain this issue to something like "make tokio-uring work with criterion" - whatever makes that work is fine by me, at least. Does anyone have any other reasons for referencing the `Runtime` struct?

[2022-09-19 15:09] Noah-Kennedy commented on #91
For an API, I think it should look like the normal tokio runtime API, except with only `spawn`, `block_on`, `new`, and `spawn_blocking`. We can add a handle as well, either here or later.

[2022-09-19 15:24] Noah-Kennedy commented on #114
This is a stupid, silly benchmark I wrote that is intended to be used in conjunction with (wrk)[https://github.com/wg/wrk] or (rewrk)[https://github.com/lnx-search/rewrk].

This is really only intended for internal use when developing on this repo. It's useful for examining how different tweaks improve or worsen our throughput with a large volume of relatively small IO ops.

[2022-09-19 15:53] nik9000 commented on #91
So you are thinking of making the struct public with public implementations with the same signature as those methods? I might be able to have a look in the next few days. Or, if you want it, please go ahead. I don't know what I'm doing and I don't get in the way.

[2022-09-19 15:58] Noah-Kennedy commented on #115
I think we can try and handle some of these. EGAIN and EBUSY should be doable for instance. Most of these should just be panics though.

[2022-09-19 21:31] nik9000 commented on #91
When I pull this locally I get a few test failures randomly - `explicit_close` and `drop_off_runtime` and sometimes the tests hang around the same place. Is that normal?

[2022-09-19 21:33] Noah-Kennedy commented on #91
What kernel do you have?

[2022-09-19 21:39] nik9000 commented on #91
[code]

[2022-09-22 14:37] FrankReh opened #117 "problematic use of try_join in network examples"
There are two examples, both related to networking, that use the tokio try_join macro to weave a bound socket that will accept with a connection attempt to that socket. One for the TcpListener, and one for the UnixListener.

At least in the case of TcpListener, there are times on my 5.15 kernel where this fails.

The original symptom was the try_join would just hang, but only when what should have

[2022-09-22 19:48] FrankReh opened #119 "problem with explicit_close test"
The explicit_close test sometimes fails because by the time it asserts the raw fd it is left holding is no longer valid, the kernel has opened a new file for one of the other tests and reused the raw fd value; so the raw fd is valid after all, just for a different file.

Not sure yet the best way to work around this race between one test and the other tests.

Manually, it is possible to run them w

[2022-09-23 12:08] FrankReh commented on #115
@Noah-Kennedy Sounds good. I'll work on that soon.

That begs the question whether submit_with in
https://github.com/tokio-rs/tokio-uring/blob/913aa14c567cfae026b7d4f88a5155921cfb9575/src/driver/op.rs#L61-L91
should continue to return an io::Result.

An argument could be made that it future proofs it, even if there is no possible error returned right now, there might be in the future.

But I sligh

[2022-09-23 12:27] FrankReh opened #120 "possibly deferring work in the creation of an operation"
Currently, some actual uring work is done when an *Op\<T>* is created in the *submit_with* function, as seen here.
https://github.com/tokio-rs/tokio-uring/blob/913aa14c567cfae026b7d4f88a5155921cfb9575/src/driver/op.rs#L61-L91

So a uring submission queue entry is created and added to the actual uring that is shared with the kernel when *submit_with* is called. It is only waiting for a response tha

[2022-09-24 04:11] FrankReh commented on #114
Thanks for the info. I've been working with my own fork of rewrk to stress the wrk-bench and a new wrk-bench-multishot. I added an HdrHistogram to show all the connection latencies. One day, we should have a rewrk that is based on tokio-uring too.

[2022-09-25 21:27] Noah-Kennedy commented on #115
Breaking changes are definitely acceptable at this stage if they move the API in a better direction.

[2022-09-25 21:29] #117 closed

[2022-09-25 23:59] #114 closed

[2022-09-26 17:32] Noah-Kennedy commented on #91
@nik9000 see #119.

[2022-09-26 19:56] nik9000 commented on #119
:+1: If I run this in a while loop for a few minute it passes every time for me.

[2022-09-28 15:09] #119 closed

[2022-09-28 21:09] FrankReh opened #122 "SharedFd doesn't call wake()"
There's some plumbing in shared_fd.rs for tracking a waker but I don't see a call to wake(). There's a good chance a call to file.close().await would hang if the SharedFd was being shared with something else at the time.

I was going to submit a PR for this, but I took the route of supporting multiple *close* calls, so keeping a list of wakers, and it was causing lots of changes to the file and th

[2022-10-06 17:50] fasterthanlime opened #125 "Use-after free in `Op::connect`"
I was wondering why connecting to IPv4 addresses sometimes worked.. but IPv6 doesn't. Sometimes I got an errno 97 (address family not supported), sometimes it was just hanging... and adding a couple `dbg!` statements made it work?

All of this _smells_ a lot like memory unsafety.. and it is!

Here, a `Connect` struct is created, moving a `SockAddr` into it:

https://github.com/tokio-rs/tokio-uring

[2022-10-06 18:13] fasterthanlime commented on #125
Ah, the accept situation is a bit different since it's an out pointer. I see what holds the data now - the `op` isn't dropped, it's returned. That's why when I simply tried boxing the connect address, it also fixed it. It wasn't luck (that the heap memory location wasn't getting overwritten), it was that even though I was moving the `Op` future around, the location of the connect address remained

[2022-10-06 18:28] FrankReh commented on #125
Is it the accept op or the connection op that you think is dropping the fd too early?

I don't know all the details of the latest Completable design but I hadn't had problems with the earlier one. I thought the code paths kept the fd in a SharedFd that only got dropped when the Op was dropped *and* the operation had completed per a cqe entry.

[2022-10-06 18:31] fasterthanlime commented on #125
Exactly. As things stand now, both accept and connect are unsafe:

  * accept cannot be dropped, or whenever the kernel _does_ accept a socket it'll write the local_addr in a freed heap memory location
  * connect cannot be dropped (or kernel reads from a freed location) but it _also_ cannot be moved, which moves the location of the `SockAddr` and has the kernel read garbage, too.

That model is f

[2022-10-06 18:42] FrankReh commented on #125
What version of kernel are you testing on? For sometime, the kernel driver folks have said the data only needs to be good
until the 'enter' call is made, not the whole time the operation is in flight.

[2022-10-06 18:49] fasterthanlime commented on #125
This is on:

[code]

Submissions are batched: if the queue isn't full, `submit_with` just does `sq.push`, which _does not_ enter. (But you're right that this means the inputs can probably live right until enter). I literally started playing with io_uring today, so I'm still not sure about anything, but - isn't there also a mode where submitting ops doesn't require calling enter at all?

That is wh

[2022-10-06 19:13] Noah-Kennedy commented on #125
Accept is fine because on drop the state gets dropped into the driver (Lifecycle::Ignored).

[2022-10-06 19:15] fasterthanlime commented on #125
That's true! That means this issue was closed by #126.

[2022-10-06 19:15] #125 closed

[2022-10-08 16:34] FrankReh opened #129 "TcpListener.accept is not cancellation safe, an open fd can be leaked"
It took some finagling but I was able to create a scenario where the Future created by a TcpListener.accept call was partially polled, but not to completion. In select! parlance, a test I wrote shows the Future is not cancellation safe because the side effect was that file descriptors were being assigned by the kernel and never closed (until the process was terminated).

This is what I had expecte

[2022-10-14 02:31] #108 closed

[2022-10-21 04:05] FrankReh opened #137 "possible Op poll simplification"
Look at this simplication I found possible in the src/driver/read.rs

[code]

It compiles and runs. Is fewer lines of code, one function instead of three, probably less cpu and less stack. Maybe less heap.

Any other driver operations that followed the earlier model might be easily swapped for this too.

Is anything important being lost with this?

[2022-10-21 16:15] FrankReh commented on #137
I think this is possible as a result of the introduction of the Completion trait.

[2022-10-22 20:38] Noah-Kennedy commented on #137
Yeah the completion trait was meant to also allow this sort of work. I had actually meant to do this not long after I introduced that PR, but didn't get around to it.

[2022-10-24 12:54] ollie-etl commented on #93
@FrankReh I think i've hit this too - I will also take a look

[2022-10-24 13:00] ollie-etl opened #145 "`driver::op::submit_with()` panic"
Pr #144 can trigger [This panic](https://github.com/tokio-rs/tokio-uring/blob/7adeacb88ce6fb93ce17645de1d2040ba50a36e5/src/driver/op.rs#L84-L86).

It can be reliably triggered if:
  - The concurrency factor submitting operations is greater than the submission queue size.
  - `.setup_sqpoll()` is specified on the ring builder

I speculate this can occur under other conditions, but the above is an e

[2022-10-24 13:23] FrankReh commented on #93
I think I saw the problem fixed locally by using the CQ_OVERFLOW bit to say when tick should be run again. But I was waiting for the Rc/RefCell driver rework. My solution had tick to using a loop and checking the squeue bit itself for deciding when to run again. I wasn't thrilled with the memory sync options that were available and saw a recent PR for io-uring that would have separated read and wr

[2022-10-24 20:13] #145 closed

[2022-10-24 20:18] Noah-Kennedy commented on #93
Let's go with your approach once the rt changes get committed.

[2022-10-24 21:04] ollie-etl commented on #137
@FrankReh I think this is closed?

[2022-10-24 21:07] ollie-etl opened #147 "rt: Hang on too small completion queue"
Similar to #145, and again exercised by #144. If there size of the completion queue is smaller than the number of concurrent writers to the submission queue, the runtime just hangs.

Probably not commiting?

[2022-10-24 23:05] #137 closed

[2022-10-24 23:26] FrankReh commented on #147
Yes, the driver may be making too strict assumptions about when to submit and when to check the cqueue.

The driver isn't flushing the squeue and handling the cqueue as often as it could and it can use the overflow bit to make it take an extra loop before getting back to the caller.

And also, like another issue and commit found and handled, it is not enough to just submit when the thread is going

[2022-10-25 13:05] FrankReh commented on #91
As you indicated in #119, that problem from Sep seems fixed.

[2022-10-25 13:13] FrankReh commented on #91
I'm glad the question of a handle came up in this thread already.

[2022-10-25 14:38] ollie-etl commented on #120
@FrankReh I've also been thinking about this. I think deferred work is the way to go. Partly because this is how [future is described ](https://doc.rust-lang.org/std/future/trait.Future.html#runtime-characteristics), and we don't match that behavior currently

[2022-10-25 15:08] FrankReh commented on #120
@ollie-etl I'm not disagreeing with you but asking for a clarification. Are you saying you think the function that returns the future for getting a response shouldn't be putting an entry in the squeue yet? We have both seen that adding an sqe to the squeue can run into the problem of the squeue needing to be submitted because it is full and that means a syscall which has to block long enough to dr

[2022-10-25 15:44] FrankReh commented on #145
Oh, you are already running with squill.  Very interesting. I haven't tried that and have no idea what problems you may be running into there. Well I guess with the commit from yesterday it's working for you. I wonder if you have something trying to call tick periodically to try and keep up with the kernel's results or if tick is only being called when the thread is about to park itself?

[2022-10-25 20:10] ollie-etl commented on #120
@FrankReh yes, I think the work should only be put on the squeue on poll - I think that's more in keeping with the spirit of futures. I think that is perhaps least surprising for users too.

I briefly started implementing this to see what it'd look like, but haven't got very far yet

[2022-10-25 20:19] FrankReh commented on #120
@ollie-etl Perhaps orthogonal to what you're doing, but I wanted to make sure you were aware it is possible the kernel is not being informed of entries being added to the ring, in a timely manor, because the submission sync isn't called for every entry or even for every 'n' entries. But I'm think of it like a flush and I don't know how long a cache line is allowed to be on two CPUs without the sta

[2022-10-26 03:29] #91 closed

[2022-10-26 10:52] FrankReh commented on #82
Once we have a new version, with the merge of #52, can this be closed?

[2022-10-26 15:08] Noah-Kennedy commented on #82
I'm going to close this now as a prior to the release.

[2022-10-26 15:08] #82 closed

[2022-10-26 17:17] FrankReh commented on #147
@Noah-Kennedy Are you saying there is already a hook in tokio we can use, or you're going to try and get one added.

If that is new, perhaps before that lands, we can implement our own maintenance countdown in the op creation to trigger the same uring maintenance.

[2022-10-26 17:31] Noah-Kennedy commented on #147
I'm going to try to get one added. In the meantime, I'm wondering if it is best to address this in the op creation or to do a "duck tape and zip ties" fix by having an always ready task that no-ops and yields back most of the time like this (pardon my pseudocode):

[code]

This will basically run once every 16 full passes through the scheduler.

[2022-10-26 17:32] Noah-Kennedy commented on #147
Crap, that won't work. It will cause us to busy loop instead of blocking on epoll_wait.

[2022-10-26 17:34] Noah-Kennedy commented on #147
Yeah, we should probably try and do this like @FrankReh was suggesting for the time being.

[2022-10-26 18:26] Noah-Kennedy opened #150 "Close on Drop Semantics"
What do we think about our current semantics regarding close-on-drop?

I'm not sure if asynchronously pushing a close op is actually the best approach on drop. It complicates our code a surprising amount, as we need to be able to handle the case here where we drop outside of a runtime context, and thus we need to do a bit of working around this with try_submit and other hacks.

Personally, I think

[2022-10-26 18:35] Noah-Kennedy commented on #120
So, what I'd like from an API perspective is to have oneshot futures first submit an op and then return a future referencing the in-flight op which provides support for operations like cancellation.

I'd also like to have something like a builder API for constructing an op and operating on it pre-submission. I've been meaning to get around to implementing both.

[2022-10-26 18:59] Noah-Kennedy commented on #147
The more that I think about it, this probably can't be solved in the op submission without removing the ability to batch SQE submissions. I'm wondering if it might make sense for us to do something like my suggestion but with some added logic around only letting the task run if there are unflushed submission queue events.

[2022-10-26 19:03] Noah-Kennedy commented on #147
Ah I was thinking of a different issue here. Disregard my earlier comments, they are important to do but won't fix this issue. We should definitely dispatch CQEs first anytime we submit SQEs.

[2022-10-26 19:26] Noah-Kennedy commented on #147
We should also be using NODROP, but I don't think that is in `tokio-rs/io_uring`. We would need to add that flag first and get a release out in there.

[2022-10-26 20:01] FrankReh commented on #150
How async should handle close on drop seems to be one of the questions that comes up again and again, even for tokio.

What drop are you referring to? Don't Op drops have to happen while still in the driver's block_on? At least normally. Do you mean when the user has to Op reference passed out of the context it was created in on purpose?

The uring driver gives us two other options, plus there is

[2022-10-26 20:11] Noah-Kennedy commented on #150
So, with the off-reference drop, I was referring to the semantics of, say, dropping a TcpListener.

[2022-10-26 20:15] Noah-Kennedy commented on #147
I forgot that NODROP is a feature, not a flag...

[2022-10-26 20:22] Noah-Kennedy commented on #147
Does this occur with the NODROP feature enabled?

[2022-10-26 20:22] FrankReh commented on #147
I've got buffer ring groups working in a fork and streaming multi-accept working in a fork. I think I'd like to get those in before we try to address how to handle a flood of submissions or a flood of responses because it is easier to create the floods and then we can see all the reasons for doing so more easily (I think).

But my streaming multi-accept has a cancel ability in it that may not fit

[2022-10-26 20:24] FrankReh commented on #147
NODROP just means the kernel will queue up things using extra kernel memory, waiting for the cq to be drained by us. So it doesn't help if our problem is not getting the kernel to see our sq entries or we aren't pulling from the cq because we thought we did but what we didn't do was ask for more to be pulled. That's what using the OVERFLOW bit is for.

[2022-10-26 20:27] Noah-Kennedy commented on #147
Ah, I see the issue. I didn't realize that the problem was that we had extra completions we didn't notice due to overflow. Sorry for the confusion!

[2022-10-26 20:28] FrankReh commented on #147
Once I started handling the OVERFLOW bit, my test hangs went away.

My streaming fork is waiting for the slab linked list work by @ollie-etl to be merged. I think that PR was left in his court but I'll double check.

[2022-10-26 20:32] FrankReh commented on #147
It's not a blocker but I want to get that writev PR committed as the author had put good work into that and we should be able to clear it off our table with no other dependencies.

[2022-10-26 20:33] Noah-Kennedy commented on #147
I understand your earlier comments now. Once we get through the current PR queue, we can get this fix in and do a release.

[2022-10-26 20:36] FrankReh commented on #147
How about a release 4.0 tomorrow or Friday, regardless of what else is done. And none of our planned work is a breaking change so maybe a 4.1 about a week later? I'll work on change log stuff too. How do I share change log with you the best way? Just a regular PR?

[2022-10-26 20:36] FrankReh commented on #147
I meant 0.4.0 and 0.4.1.

[2022-10-26 20:41] FrankReh commented on #150
We could plan on a sync/std close for something like that, when the fd is a file descriptor and reverting to a uring sync close when it is a uring direct descriptor.

[2022-10-26 20:52] Noah-Kennedy commented on #150
We should probably create a dedicated issue for uring direct descriptor support.

[2022-10-26 20:54] Noah-Kennedy commented on #147
@FrankReh we should have done this a while ago TBH, but we need a CHANGELOG.md file where we can document changes. We will format it as with tokio, and we can use this to add relnotes for the release tags.

[2022-10-26 20:55] Noah-Kennedy commented on #147
We should probably list this as a "known issue"

[2022-10-26 21:11] FrankReh commented on #147
But it's good to see if it can be addressed while the OP has cycles and the ability to easily reproduce from their end. With your PR in, let's see if @ollie-etl can reproduce the problem.

I can make it my priority to get something handling OVERFLOW in for @ollie-etl to then check out. I don't know that this can't be solved relatively easily so let's see about getting this closed quickly.

[2022-10-26 23:54] FrankReh commented on #147
I could create a self contained minimal reproducer that hangs at exactly the size of the completion queue, just as the title predicts

[2022-10-27 05:29] oliverbunting commented on #147
My, you guys have been busy! I'll try and take a look at these this morning

[2022-10-27 09:43] ollie-etl commented on #120
@Noah-Kennedy : The behaviour of your benchmark in 120 is exactly what I meant by trying to keep to the principle of "least suprise". Your benchmark is submitting almost all operations prior to the benchmark measurement. This will also very likely have lead to cq overflow in the kernel, and kernel allocations to deal with it.

[2022-10-27 15:14] FrankReh commented on #147
I have a solution that solves it for my test case. It just involves a change to the io-uring crate. The tokio-uring crate can be left at master.

@Noah-Kennedy , @ollie-etl , would you like to change your Cargo.toml to use my fork/branch and report whether it fixes the problem you are seeing too?

[code]

[2022-10-27 17:03] FrankReh commented on #147
I changed the overflow bit handling in submit. I think I sent the idea out last night in one of these other issues.

[2022-10-27 18:13] Noah-Kennedy commented on #147
How did you change it though, and do you think that this would be appropriate for a PR?

[2022-10-27 19:09] FrankReh commented on #147
Yes, I think it's appropriate. Just easier if someone else can vouch for it making a difference too.

[2022-10-27 19:10] FrankReh commented on #147
I don't understand where this question is coming from. Isn't it easier for you to look at the diff of the commit I put into that branch?

[2022-10-27 19:18] Noah-Kennedy commented on #147
Sorry, I was on mobile earlier and not able to easily see, should have mentioned that. Looking at your change rn, this looks fine.

[2022-10-28 01:33] FrankReh commented on #75
@Noah-Kennedy

I propose we close this. The unit tests have been very solid for me the last couple of months but I'm only running on two Linux boxes admittedly. Also ci seems robust lately. Merge #121 has at least a little to do with that.

[2022-10-28 01:34] FrankReh commented on #93
This has been solved. Waiting for https://github.com/tokio-rs/io-uring/pull/152 or its equivalent to be merged and then this crate's version for io-uring to be bumped appropriately.

[2022-10-28 01:36] FrankReh commented on #147
This should be solved once https://github.com/tokio-rs/io-uring/pull/152 or its equivalent is merged and this crate's version of io-uring is appropriately bumped.

[2022-10-28 21:14] Noah-Kennedy commented on #147
Does that change alone fix this, or is #152 also needed?

[2022-10-28 21:17] Noah-Kennedy commented on #147
Nevermind, I just saw the PR in here.

[2022-10-28 21:17] #147 closed

[2022-10-28 21:18] #93 closed

[2022-10-28 21:19] Noah-Kennedy commented on #75
Good idea. We can reopen if it comes up again.

[2022-10-28 21:19] #75 closed

[2022-10-31 10:36] ollie-etl opened #160 "bug: Calling `block_on` twice causes a panic"
See PR #159 for reproduction. I believe this was introduced bus was introduced in #142. It became possible to exercise it because of #148

[2022-10-31 14:24] Noah-Kennedy commented on #160
The core issue here is that the background task for the driver is spawned in each block_on call.

[2022-10-31 20:19] Noah-Kennedy commented on #160
I'll get to this tonight.

[2022-10-31 22:42] ollie-etl opened #161 "Generialise Buffer Types"
Using io_uring requires ownership of the backing buffers for the duration of a Operation lifetime. This is currently enforced using the traits `IoBuf` and `IoBufMut`. This issue is suggesting dropping IoBuf and IoBufMut in favour of `Pin`. In conjunction with a slightly modified Slice struct, I believe `Pin` provides all the invariant we currently have, whilst allowing us to generalize over any in

[2022-10-31 23:07] FrankReh commented on #161
I thought it would be a &mut to a pinned slice. So here the Op takes the ownership, as before, and has to return it when the future is complete?

[2022-10-31 23:22] ollie-etl commented on #161
That was my thoughts, yes. We know (by construction) that as long as we hold the pin, the buffer is stable, but we don't have to handle the lifetime in the Op

[2022-10-31 23:25] ollie-etl commented on #161
Although my thinking is likely to chnge as I will undoubted hit compile errors en-route

[2022-10-31 23:26] FrankReh commented on #161
I don't follow. Just being dense I think. So we can't hold a &mut Pin<Slice<T>> for the lifetime of the Op? The type doesn't have to be 'static? Aren't we saying the buffer's memory is 'static anyway, but otherwise taking ownership of it as long as the future is active?

[2022-10-31 23:54] ollie-etl commented on #161
@FrankReh I called it a night, because its late here, but having thought about it for 5 minutes - you are of course completely correct `&Pin<Slice<T>>` is the correct thing. I'll take a look when fresh

[2022-11-01 02:17] FrankReh commented on #161
I guess I see the problem with the future built around the uring interface. The kernel could be using the buffer when the app has already dropped the future so if the buffer/slice is back owned by the app, there could be unsound behavior. I don't know that it's officially UB when the kernel is involved, but it's close. So maybe back to the owned Pin<Slice>. The buffer/slice ownership has been a th

[2022-11-03 02:22] Noah-Kennedy commented on #160
Fixed by #162.

[2022-11-03 02:22] #160 closed

[2022-11-03 15:19] Noah-Kennedy commented on #161
Although what does this get us that `&'static + Deref` doesn't?

[2022-11-03 15:23] Noah-Kennedy commented on #161
Nevermind, we still can't have slicing, as the slices have non-static lifetimes.

[2022-11-03 16:14] Noah-Kennedy commented on #161
After thinking more, deref is insufficient here. You can write a perfectly safe deref implementation which is invalid here. We can't actually do this with Pin either. We do need to keep IoBuf around.

[2022-11-03 16:19] Noah-Kennedy commented on #161
For example, this compiles:
[code]

[2022-11-03 19:20] oliverbunting commented on #161
@Noah-Kennedy maybe I'm just not getting this. How does this go wrong?

[2022-11-03 19:25] Noah-Kennedy commented on #161
@oliverbunting so, in the code which I wrote, any write op using that buffer would try and take the pointer of the stack location of the buffer, which would be invalid and result in memory corruption. Unless we want to heap allocate every op's data, we can't do this.

[2022-11-03 19:47] FrankReh commented on #161
@Noah-Kennedy This is a confusing issue to be sure. Did you mean for us to extrapolate and have the write_at already return a Pin<T> so the buffer could ostensibly be used by the caller again?

Funny how often I, for a moment, just wonder why a &mut can't be passed with no return buffer value, and then I remember the future could go out of scope but the kernel would still be operating on the buffe

[2022-11-03 20:10] oliverbunting commented on #161
@Noah-Kennedy this won't be the first or last time I've read this:
 https://doc.rust-lang.org/std/pin/struct.Pin.html#safety

My reading is that by constructing Pin, you are guaranting that the memory location is stable, even if on the stack

[2022-11-03 21:13] Noah-Kennedy commented on #161
@oliverbunting except I can do this:
[code]

[2022-11-03 21:18] Noah-Kennedy commented on #161
It's incredibly subtle with what it actually means. Pin is meant as a safeguard for pointers to self-referential objects. It makes sure that the thing behind the pointer can't be moved. But when you accept an arbitrary Pin, you cannot guarantee that such an object is even a pointer. It is basically just there to make sure that you can operate on futures which are self-referential. It is not meant

[2022-11-03 21:20] Noah-Kennedy commented on #161
The reason pinning is like this is because async was kinda rushed out the door and this was needed to make it work. Rust doesn't have any native concept of an immovable type.

[2022-11-03 21:39] Noah-Kennedy commented on #161
@oliverbunting it might be easier to talk about this in the tokio discord server. Are you in it?

[2022-11-03 21:59] oliverbunting commented on #161
No, but I could be

[2022-11-03 21:59] oliverbunting commented on #161
Although it won't be tonight. Which timezone are you in? I'm in GMT.

[2022-11-03 22:40] Noah-Kennedy commented on #161
Oh wow, it's getting pretty late for you then. I'm in US Central.

[2022-11-05 00:16] Noah-Kennedy commented on #120
I'm going to be opening a PR hopefully tomorrow to restructure how we do op submissions. I'm actually thinking that it would ne better to make the transition to in-flight explicit rather than implicit, as is proposed here. It turns out that the change proposed here actually makes reasoning about or implementing linked SQEs kinda hard.

[2022-11-05 21:28] #41 closed

[2022-11-05 21:38] ollie-etl commented on #120
I'm not sure I agree. I too have been thinking about this (#165), and although haven't got round to linking SQE's yet, have given it some consideration, and don't see the blockers. Maybe they're the unknown unknowns

[2022-11-06 01:31] Noah-Kennedy commented on #120
I'm toying around with things now, and this is considerably more nuanced than I had thought. Let's postpone any work on this until after SQE linking is supported.

[2022-11-06 01:32] Noah-Kennedy commented on #120
I'm working on this right now, and hoping to get this in soon:tm:.

[2022-11-06 20:34] oliverbunting commented on #120
@Noah-Kennedy It's maybe not fundemental, but quite central to the implementation approach I'm toying with for linking

[2022-11-06 22:23] Noah-Kennedy commented on #120
@oliverbunting I think we should discuss the SQE linking then, not this.

[2022-11-07 10:26] ollie-etl commented on #120
I thin deferred Ops are actually more important. That is because I think the behavior of the current API is pretty close to being a bug - its certainly not intuitive, and goes against the documented behavior for implementations of the Future trait, whereas Linking SQE's is a feature.

[2022-11-07 10:28] ollie-etl opened #169 "Support for Linking Ops"
Io_uring supports linking ops: that is, imposing order on the execution of Ops within the io_uring execution. The documentation here give a reasonable overview https://unixism.net/loti/tutorial/link_liburing.html

This issue exists to both track the support, and also as a place to discuss approaches to the implementation

[2022-11-07 10:28] ollie-etl commented on #120
@Noah-Kennedy See #169

[2022-11-07 16:50] Noah-Kennedy commented on #120
@FrankReh @oliverbunting I'd actually like us to go another route: towards more granular control of when an op is in-flight. I think this approach here has a couple of issues that more granular control solves better.

First, deferring work to time of poll produces inconsistent cancellation behavior. Say that a user creates a future to send data over a socket. If you submit the op when constructing

[2022-11-07 16:55] oliverbunting commented on #120
@Noah-Kennedy wet saw linking, I think that's fundementally wrong. I'll finish a raft pr tonight with proves this. It won't be pretty, but will show my point

[2022-11-07 17:00] oliverbunting commented on #120
@Noah-Kennedy wet saw linking, I think that's fundementally wrong. I'll finish a raft pr tonight with proves this. It won't be pretty, but will show my point

[2022-11-07 17:01] oliverbunting commented on #120
@Noah-Kennedy you'll note I have provided an override for immediate submission, although that is explicit

[2022-11-07 17:12] Noah-Kennedy commented on #120
@oliverbunting can you give me a short explanation of how this is wrong? I know that there are ways to do this entirely in-driver, but everything that I've messed with there led to a huge increase in complexity and a reduction in performance.

[2022-11-07 17:40] ollie-etl commented on #120
@Noah-Kennedy Sure, lets keep things abstract to start with, although #165 is a concrete example. First lets consider differed work _only_ not linking SQE's

Implementing this is quite straightforward. At Op creating, we do work to create an Sqe. We do this regardless of if we defer work or not. To defer work until poll, we must simply store it as Pending until Polled, at which point it gets enter

[2022-11-07 18:27] Noah-Kennedy commented on #120
Let's slow down a bit. What does this change make easier or less dangerous? It still isn't clear to me that this actually improves anything for the complexity that it adds to future work. I'd like us to try to model the semantics of a uring operation as closely as we can, and this really just seems to obfuscate the underlying semantics of uring.

I really can't see any cases that this helps, other

[2022-11-07 19:39] ollie-etl commented on #120
@FrankReh I'm less concerned about matching io_uring, and more concerned that our futures violate the published behaviour of Futures. As I've at least partially demonstrated, it doesn't _hurt_ performance

[2022-11-07 19:40] ollie-etl opened #170 "Support Builder Tyes"
Something which has been mentioned several times, but I don't think has a dedicated issue?

[2022-11-07 20:16] Noah-Kennedy commented on #120
This is the behavior of futures, but it isn't a general invariant with async APIs, and in fact its actually pretty common to not do this. Futures themselves do no work unless polled, largely because of the readiness model they follow.

In fact, it's actually super common for reasons of efficiency or API requirements to do work up-front and return a future that tracks the progress of an in-flight o

[2022-11-07 20:18] Noah-Kennedy commented on #170
@ollie-etl we actually have one but it's slightly more general. Closing this as a duplicate of #86.

[2022-11-07 20:18] #170 closed

[2022-11-07 20:28] ollie-etl commented on #120
@Noah-Kennedy I think with a bit of reinterpretation, your and my approaches actually have a lot in common

[2022-11-07 20:36] ollie-etl commented on #120
My approach is rather 3 states, not 2
`Builder` -> `Deferred` -> `In flight`

The way I'm approaching Builder in the first instance is for use the Op struct as the builder. By that, I mean the `Op<THIS_OP_TYPE,_>`. Those structs already have all the info required to build an operation.

I'll give an example for fsync, although I'll have a PR ready shortly also. I thought I'd do this first, as link

[2022-11-07 20:36] Noah-Kennedy commented on #120
@ollie-etl I'd agree, it seems like we were talking past each other in a lot of ways. I don't think we necessarily disagree on the core issues with the current API and on what largely needs done. I'll see if I can get up my draft PR with my proposed API changes tonight (my time, not yours), so that you can take a look. If I trim out anything related to SQE linking or async cancellation, I should b

[2022-11-07 20:38] ollie-etl commented on #120
likewise, I'll get my stuff I'm up. I'd be very suprised if eitehr approach is rigth first time out. Lets get our Pr's up, and take some time to review. I suspect we'll come to a hybrid, whcihh is usually the way of things

[2022-11-07 20:42] Noah-Kennedy commented on #120
Yeah, my thoughts as well. I think a builder is actually a logical second step once the "constructed and linkable" and "in flight" stages are in place. The "Unsubmitted/Prepared" could be obtained via the builder or via a call to a function like read, and I think it's easier to omit the builder initially and add it in a follow-up.

[2022-11-07 20:42] Noah-Kennedy commented on #120
It will be interesting to compare the two approaches. I suspect we'll pull my phases in with your builder.

[2022-11-07 20:42] ollie-etl commented on #120
I, as usual, have gone the other way. I was thinking that if I had a builder, linking to the next op is a logical way of consuming a builder

[2022-11-07 20:49] Noah-Kennedy commented on #120
I had initially done something similar before deciding that the approach I took would allow us to better hide a lot of API internals and more nicely integrate this with non-builder functions in the interface.

It basically just produces a nicer API, although the two are quite similar semantically.

[2022-11-17 15:30] ollie-etl opened #176 "CI improvements"
When adding new `IO_URING` ops, we often want access to a bleeding edge, or even unreleased kernel to properly test.

KVM would be one approach, but there is a long standing github actions issue regarding support for that. https://github.com/actions/runner-images/issues/183

I'm not aware of other approaches, but I'd love to get some suggestions to avoid things like #175 again

[2022-11-19 07:45] mzabaluev opened #178 "Redesign `BufResult` to be `std::result::Result`"
`BufResult` being aliased to a tuple makes it less ergonomic than a standard `Result` could be.
In future, a `std::ops::Try` implementation could help, but it needs a local type to be implemented on.

I propose to make use of the standard infrastructure provided by `Result` and provide the buffer with a new error type:

[code]

[2022-11-19 08:03] mzabaluev commented on #178
The currently promoted pattern of error handling could be enabled by an adapter trait:

[code]

[2022-11-19 13:40] FrankReh commented on #178
I like it. It places the buffer as the second of an Ok tuple or an Err tuple. Returns would be
[code]

[2022-11-20 18:11] Noah-Kennedy commented on #178
I completely agree with this proposed change.

[2022-11-21 06:42] ileixe opened #181 "`tokio::test` equivalent?"
All of my tests have such boilerplate below

[code]
is it possible to add macro like https://docs.rs/tokio/latest/tokio/attr.test.html?

[2022-11-21 18:16] Noah-Kennedy commented on #181
This is a worthwhile feature, and PRs would certainly be welcome here.

[2022-11-26 06:45] mzabaluev commented on #178
Responding to points raised in a [zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/IO.20traits/near/311409554):

I find that the pattern of error handling depends a lot on the code around the call site. If the calling function does not have the buffer in its return signature, it can't be propagated anyway and you need to drop it. But I believe more often than not

[2022-11-26 13:20] Nehliin opened #185 "Allow for thread safe `FixedBuf` handles"
With the introduction of Fixed buffers I was curious if it would be possible to also expose thread safe handles to those buffers? I.e supporting operations on different threads (and runtimes) but still utilizing the same buffer pool. The use case  I have in mind for example is having a separate disk-io thread which would be distinct from the thread reading data from a socket. It would be neat if b

[2022-11-26 14:30] FrankReh opened #186 "support stream split"
Like [tokio::io::split](https://docs.rs/tokio/latest/tokio/io/fn.split.html), tokio-uring should allow splitting things like TCP and UDP streams and perhaps Files into reader and writer halves so separate tasks could be reading and writing concurrently.

Each task would end up *await*ing one of the read or one of the write operations so it is not possible to borrow the stream from an Rc\<RefCell\<

[2022-11-26 14:30] FrankReh commented on #186
@Noah-Kennedy @mzabaluev @ollie-etl thoughts?

[2022-11-26 17:23] Nehliin commented on #185
I realize now that another problem is that all the io objects like TcpStream etc only accepts the `FixedBuf` handle making it impossible to use a custom registry that would with thread safe handles.

[2022-11-27 10:51] iamazy opened #188 "Support async trait such as `tokio::io::AsyncRead`"
Hi, I hava try this crate but got some errors because `tokio-uring` doesn't implement some async trait for `tokio_uring::net::TcpStream` etc.

The one of the error messages is as follows:

[code]

Is there any plan to support these trait?

[2022-11-28 00:22] Noah-Kennedy commented on #188
There are plans to support AsyncRead/Write via IORING_OP_POLL_ADD, which allows us to do readiness-based IO with io_uring, but those implementations wouldn't have the efficiency benefits of io_uring, and would perform about the same as using epoll.

Unfortunately, AsyncRead/Write are pretty strongly tied to the readiness-based model of epoll and kqueue, and aren't a good fit for io_uring. A set of

[2022-11-29 08:54] nrc commented on #178
An alternative (which I'm not sure is better) would be to use a newtype rather than an alias. The advantage would be that you could implement `lift_buf` as an inherent method rather than on a trait. You could implement `Deref` to `Result` and `Try` for the newtype to make things ergonomic.

[2022-11-29 09:03] nrc commented on #178
This is interesting to me - could you explain why you think it?

I'm not sure I understand the example - is this different to the current situation with `(Result, Buf)`?

[2022-11-29 20:16] mzabaluev commented on #178
tokio-uring (or, for that matter, any completion-driven I/O crate) is a low level crate, I expect that applications would add their customized I/O APIs on top of it. If the application is not OK with consuming the allocation with each operation (or does not use a reference-counted buffer collection like `FixedBufRegistry`), it will use the same `BufResult` return value pattern.

My point is that t

[2022-11-29 20:34] mzabaluev commented on #185
The reference counting mechanics would need to be redone with something like `Arc<Mutex<FixedBuffers>>`, which would cause unnecessary overhead in the single threaded case.

I think it should be possible to have thread-safe fixed buffer collections alongside the current ones. For operations, it should be possible to generalize with a marker trait.

[2022-11-29 20:47] mzabaluev commented on #186
It's interesting that all I/O operations take `&self`. This is good for `File` because there is no internal cursor and operations can be scheduled concurrently. But this constitutes a larger commitment to not have any mutable state in userspace behind the I/O objects. `TcpStream` in tokio does the same in the inherent methods, so it's not without precedent.

Tokio needed `into_split` so perhaps it

[2022-11-29 21:29] Nehliin commented on #185
Yes! I do not want us to replace the existing ones. Just make the operations more flexible

[2022-11-30 00:32] FrankReh commented on #186
Since yesterday, I'm running TcpStream and UdpSocket reads and writes from separate tasks by wrapping them in Rc\<RefCell\<stream>> and calling borrow() on them. As borrow_mut() isn't ever needed, I guess I could call borrow() outside the loops in each task.